@font-face {
    font-family: "Bad Script";
    src: url("../fonts/BadScript-Regular.woff2") format("woff2"), url("../fonts/BadScript-Regular.woff") format("woff");
    font-weight: normal;
    font-display: fallback;
}

@font-face {
    font-family: "Cormorant";
    src: url("../fonts/Cormorant-Regular.woff2") format("woff2"), url("../fonts/Cormorant-Regular.woff") format("woff");
    font-weight: normal;
    font-display: fallback;
}

@font-face {
    font-family: "Cormorant";
    src: url("../fonts/Cormorant-Bold.woff2") format("woff2"), url("../fonts/Cormorant-Bold.woff") format("woff");
    font-weight: bold;
    font-display: fallback;
}

@font-face {
    font-family: "Lato";
    src: url("../fonts/Lato-Regular.woff2") format("woff2"), url("../fonts/Lato-Regular.woff") format("woff");
    font-weight: normal;
    font-display: fallback;
}

@font-face {
    font-family: "Lato";
    src: url("../fonts/Lato-Bold.woff2") format("woff2"), url("../fonts/Lato-Bold.woff") format("woff");
    font-weight: bold;
    font-display: fallback;
}

html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

*, *:before, *:after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

img {
    max-width: 100%;
    height: auto;
}

body {
    padding: 0;
    margin: 0;

    font-family: "Lato", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;

    color: #000;
}

a {
    text-decoration: none;
}
/* yandex map styles */

.map-popup-wrapper {
    background-color: #FCFCFC;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
    color: #000000;
    font-family: "Bad Script", "Arial", sans-serif;
    font-size: 20px;
    text-align: center;
    width: 184px;
    padding: 14px 12px 15px 12px;
    height: 230px;
    -webkit-box-shadow: 3px 1px 4px rgba(0, 0, 0, 0.25);
    box-shadow: 3px 1px 4px rgba(0, 0, 0, 0.25);
}
.map-popup-wrapper p {
    padding: 0;
    margin: 10px 0 0 0;
}
.map-popup-wrapper img {
    display: block;
    width: 160px;
}

.map-popup-close {
    position: absolute;
    top: 15px;
    background: url('../img/close-map-icon.svg') no-repeat;
    display: block;
    width: 15px;
    height: 15px;
    left: 20px;
    font-size: 0;
    text-decoration: none;
}
.ymaps-layers-pane {
    -webkit-filter: brightness(50%);
    filter: brightness(50%);
}
.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}
.right-wrapper {
    overflow: hidden;
    height: 100vh;
}
.modal-menu {
    background-color: #FCFCFC;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 9;
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    overflow: hidden;
    width: 468px;
    padding-left: 120px;
    height: 100vh;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.bottom-contacts-block {
    display: none;
}
.modal-menu .top-block {
    margin-top: 28px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.modal-menu .phone-block__subtitle {
    padding: 0;
    margin: 0;
}
.modal-menu .phone-block__time {
    padding: 0;
    margin: 0 0 85px 0;
}

.hamburger-header {
    margin-top: 10px;
    margin-right: 20px;
    z-index: 1;
}

.right-navigation {
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.right-navigation a {
    font-size: 24px;
    color: rgba(0, 0, 0, 0.75);
}

.right-navigation li:not(:last-child) {
    margin-bottom: 20px;
}

.modal .footer-block {
    margin-top: auto;
    margin-bottom: 15px;
}

.modal .footer-block p {
    margin: 0;
    padding: 0;
}
/* HEADER */
.main-header {
    position: absolute;
    width: 100%;
    z-index: 1;
}
.index-wrapper,
.inner-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.main-navigation {
    color: #000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.main-navigation-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 59%;
}

.main-navigation-wrapper p {
    margin: 0;
    padding: 0;
}

.phone-block-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.phone-block {
    width: 200px;
}

.phone-block .phone-block__subtitle {
    font-family: "Lato", "Arial", sans-serif;
    font-size: 20px;
    line-height: 150%;
}

.phone-block .phone-block__time {
    position: relative;
    padding-left: 20px;
    font-size: 14px;
    line-height: 150%;
}

.phone-block .phone-block__time::before {
    position: absolute;
    content: '';
    background-color: #00AA4D;
    border: 1px solid #00AA4D;
    height: 6px;
    border-radius: 50%;
    width: 6px;
    top: 5px;
    left: 2px;
}

.main-navigation-right-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 22px;
    width: 260px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.burger-icon {
    width: 28px;
}

.main-navigation a {
    color: #000;
}

.logo-wrapper {
    width: 41%;
}
.inner-wrapper .logo-wrapper .svg-img{
    stroke: #FCFCFC;
}
.inner-wrapper .logo-wrapper .svg-text{
    fill-opacity: 1;
    fill: #FCFCFC;
}
.main-header-logo {
    margin-left: 20px;
    margin-top: 20px;
    display: block;

    width: 151px;
    height: 64px;
}

.left-navigation {
    width: 520px;
    margin: 38px 0 0 28px;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-family: "Lato", "Arial", sans-serif;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
}

.left-navigation li:not(:last-child) {
    margin-right: 40px;
}

.left-navigation,
.right-navigation {
    list-style: none;
}

/* BODY */

.container {
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}
.left-wrapper {
    padding: 20px;
    width: 41%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100vh;
}
.features .left-wrapper {
    padding: 0;
}
.inner-wrapper .left-wrapper {
    background: #424B14 no-repeat top center;
    background-size: cover;
}
.description .left-wrapper {
    background-image: url(../img/bg-description-main.png);
    background-color: #4E541A;
}
.features .left-wrapper {
    background-image: url(../img/bg-features1-main.jpg);
    background-color: #1E3964;
}
.location .left-wrapper {
    background-image: url(../img/bg-location-main.png);
    background-color: #7E7772;
}
.location .right-wrapper {
    overflow: auto;
}
.genplan .left-wrapper {
    background-image: url(../img/bg-genplan-main.png);
}
.right-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 80px 20px 0 25px;
    width: 59%;
    background: #E1ECF1;
    background: -webkit-gradient(linear, left bottom, left top, from(#000000), color-stop(50%, rgba(0, 0, 0, 0))), url(../img/bg-main.png) ;
    background: -o-linear-gradient(bottom, #000000 0%, rgba(0, 0, 0, 0) 50%), url(../img/bg-main.png) ;
    background: linear-gradient(0deg, #000000 0%, rgba(0, 0, 0, 0) 50%), url(../img/bg-main.png) ;

    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}
.right-wrapper .right-wrapper__address {
    position: relative;
    width: 70%;
    margin: 50px 0 30px 40px;
}
.right-wrapper .right-wrapper__address svg {
    position: absolute;
    top: 6px;
    left: -40px;
}
.inner-wrapper .right-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background: #FCFCFC;
}
.button {
    font-family: "Lato", "Arial", sans-serif;
    color: #FCFCFC;
    font-weight: 500;
    font-size: 16px;

    text-align: center;
    vertical-align: middle;

    background: #157AB5;
    -webkit-box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 50px;
    border: none;
}
.left-wrapper-text {
    display: flex;
    flex-direction: column;
    margin-top: auto;
    margin-bottom: auto;
}
.inner-wrapper .left-wrapper-text {
    margin-top: 280px;
}
.inner-wrapper .footer-wrapper {
    margin-bottom: 25px;
}
.left-wrapper-text__p {
    position: relative;
    margin: 0 0 30px 0;
}
.left-wrapper-text span {
    display: block;
    margin-left: 40px;
}
.left-wrapper-text span:not(:last-child) {
    margin-bottom: 20px;
}
.left-wrapper-text__location-item svg {
    top: 5px;
    position: absolute;
}
.main-title {
    padding: 0;
    margin: 0 0 30px 0;
    width: 60%;
    font-family: "Cormorant", "Times New Roman", serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 150%;
}
.inner-wrapper .main-title {
    margin-bottom: 120px;
}
.location .main-title {
    margin-bottom: 60px;
}
.features .left-wrapper {
    background: none;
}
.left-wrapper-slider {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #1E3964;
}
.left-wrapper-slider .slider-wrapper__item {
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}
.right-wrapper .slider__item {
    height: 30vh;
}

.left-wrapper-slider .slick-slide {
    width: 100%;
}
.slick-vertical .slick-slide {
    border: none;
}
.left-wrapper-slider .slick-slide {
    width: 100%;
}
.inner-wrapper .main-title {
    color: #FCFCFC;
    font-size: 48px;
    line-height: 150%;
}
.features .left-wrapper-text {
    position: absolute;
    z-index: 999;
    margin-top: 300px;
    margin-left: 20px;
}
.main-title b {
    font-family: "Cormorant", "Times New Roman", serif;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
}
.main-title + .left-wrapper-text__p {
    width: 85%;
    margin: 0;
    padding: 0;
}
.footer-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.footer-wrapper--mgtauto {
    margin-top: auto;
}
.location .footer-wrapper {
    margin-top: 100px;
}
.footer-wrapper .button-area-selection {
    display: block;
    padding: 5px 20px 5px 50px;
    text-align: center;
    color: #ffffff;
    vertical-align: middle;
    position: relative;
}
.inner-wrapper .footer-wrapper .button-area-selection {
    margin-left: auto;
}
.footer-wrapper .button-white {
    color: rgba(0, 0, 0, 0.75);
    background: #FFFFFF;
    -webkit-box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 50px;
    font-size: 14px;
    line-height: 17px;
    padding: 10px 25px 10px 45px;
}
.footer-wrapper .button-area-selection::before {
    position: absolute;
    content: '';
    width: 22px;
    height: 22px;
    background-image: url(../img/area-selector-white.svg);
    background-position: top center;
    background-repeat: no-repeat;
    left: 20px;
    top: 7px;
}
.footer-wrapper .button-white::before {
    background-image: url(../img/area-selector-green.svg);
    top: 8px;
    left: 15px;
}
.footer-wrapper .selection-text {
    padding: 0;
    margin: 0 0 0 20px;
}
.bottom-text-block {
    margin-top: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
.bottom-text-block--mgbot27 {
    margin-bottom: 27px;
}
.inner-wrapper .bottom-text-block {
    margin-top: 230px;
}
.features .bottom-text-block {
    margin-top: 230px;
}
.bottom-text-block h2 {
    font-family: "Lato", "Arial", sans-serif;
    font-weight: bold;
    font-size: 24px;
    line-height: 150%;
    padding: 0;
    color: #FCFCFC;
    margin: 0 0 15px 0;
    width: 50%;
}
.inner-wrapper .bottom-text-block h2 {
    font-size: 36px;
    line-height: 150%;
    width: 70%;
    font-family: "Cormorant", "Arial", sans-serif;
    color: rgba(0, 0, 0, 0.75);
}
.bottom-text-block__item {
    color: #FCFCFC;
    font-size: 18px;
    line-height: 150%;
    margin: 0;
    padding: 0;
    width: 70%;
}
.inner-wrapper .bottom-text-block__item {
    color: rgba(0, 0, 0, 0.75);
    margin-bottom: 20px;
    width: 95%;
}
.features .bottom-text-block__item {
    width: 70%;
}
.inner-wrapper .slider-wrapper {
    height: 90%;
    margin: 0;
}
.slider-wrapper .slick-current {
    opacity: 1;
}
.slider-wrapper .slick-slide:not(.slick-current) {
    opacity: 0;
}
.slider-wrapper .slick-slide {
    -webkit-transition: opacity .2s ease-in-out;
    -o-transition: opacity .2s ease-in-out;
    transition: opacity .2s ease-in-out;
}

.slider-wrapper .slick-list,
.slider-wrapper .slick-track {
    overflow: visible;
}
.slick-dotted .slick-slider {
    margin-bottom: 0;
}
.slider-wrapper .slick-dots {
    bottom: 50%;
    right: 0;
    width: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
.progress {
    position: absolute;
    display: block;
    width: 3px;
    height: 280px;
    border-right: 1px solid #A1CFF0;
    overflow: hidden;
    top: 47%;
    margin-top: -140px;
    right: 19px;
    background-color: #f5f5f5;
    background-image: -webkit-gradient(linear, left bottom, left top, from(#517F57), to(#517F57));
    background-image: -o-linear-gradient(bottom, #517F57, #517F57);
    background-image: linear-gradient(to top, #517F57, #517F57);
    background-repeat: no-repeat;
    background-size: 100% 0;
    -webkit-transition: background-size .4s ease-in-out;
    -o-transition: background-size .4s ease-in-out;
    transition: background-size .4s ease-in-out;
}
.left-wrapper--mgt-200 .left-wrapper-text {
    margin-top: auto;
    margin-bottom: auto;
}
.right-wrapper__date {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    color: rgba(0, 0, 0, 0.5);
}
.right-wrapper--of-auto {
    overflow: auto;
}
.footer-wrapper--mt-100 {
    margin-top: 100px;
}
.right-wrapper__header {
    margin-top: 130px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 20px;
}
.border-bottom-visible {
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.3);
    padding-bottom: 30px;
}
.inner-wrapper .left-wrapper--sale {
    background-image: url(../img/bg-sale-main.png) ;
    background-color: #6E6E6D ;
    background-position: center left ;
    background-size: auto ;
}
.inner-wrapper .left-wrapper--news {
    background-image: url(../img/bg-news-main.png);
    background-color: #414B4E;
    background-position: 20% center;
}
.inner-wrapper .left-wrapper--news-detail {
    background-image: url(../img/bg-sale-main.png) ;
    background-color: #6E6E6D ;
}
.inner-wrapper .left-wrapper--fotogallery {
    background-image: url(../img/bg-gallery-main.png);
    background-color: #6E6E6D;
}
.promo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
.right-wrapper-header__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 20px;
}
.right-wrapper__title {
    font-family: "Cormorant", "Arial", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 150%;
    color: #4F4F4F;
    margin: 0;
}
.promo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: -20px;
}
.promo__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: calc(100% / 3 - 20px);
    -webkit-box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0 0 20px 20px
}
.promo__subtitle {
    font-family: "Lato", "Arial", sans-serif;
    font-size: 18px;
    line-height: 125%;
    color: rgba(0, 0, 0, 0.75);
    text-align: center;
    margin: 25px auto;
    width: 270px;
}
.calendar {
    width: 161px;
    border-radius: 5px;
    border: 0;
    font-family: "Lato", "Arial", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    margin: 0;
    position: relative;
    height: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.calendar--white {
    background-color: #FFFFFF;
    -webkit-box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
}
.calendar__input {
    cursor: pointer;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 5px;
    border: 0;
    width: 100%;
    padding-left: 15px;
}
.calendar__icon-wrapper {
    position: absolute;
    right: 15px;
    top: 10px;
}
.news__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.news__left-wrapper {
    width: 70%;
}
.news__title {
    color: #157AB5;
    font-family: "Lato", "Arial", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 150%;
}
.news__date {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
}
.tabs-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.tabs-wrapper__tab {
    font-family: "Cormorant", "Arial", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;
    margin: 0;
    color: rgba(79, 79, 79, 0.25);
    cursor: pointer;
}
.tabs-wrapper__tab:not(:first-child) {
    margin-left: 36px;
}
.tabs-wrapper__tab--active {
    color: #4F4F4F;
}
.gallery__month-subtitle {
    margin: 0 0 10px 0;
}
.img-list {
    list-style: none;
    margin: 0 0 0 -20px;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.img-list__item {
    margin-left: 20px;
    margin-bottom: 20px;
    width: 350px;
    height: 250px;
}
.img-list__link {
    display: block;
    height: 100%
}
.img-list__link img {
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    display:block;
    height: 100%;
    border-radius: 5px;
    -webkit-box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
}
.left-wrapper--contacts {
    padding: 0;
}
.ya-map-wrapper--full {
    height: 100%;
    width: 100%;
}
.left-wrapper-text--absolute {
    position: absolute;
    height: 70px;
    left: 20px;
}
.ya-map-wrapper--full {
    -webkit-filter: brightness(50%);
    filter: brightness(50%);
}
.contact-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
.contact-block__item {
    margin: 0 0 25px 0;
    padding: 0 0 0 35px;
    position: relative;
}
.contact-block__item svg {
    position: absolute;
    content: "";
    width: 18px;
    height: 18px;
    left: 0;
    top: 5px;
}
.contact-block__address svg {
    width: 18px;
    height: 22px;
}
.contact-block__time svg {
    width: 20px;
    height: 20px;
}
.contact-block__email svg {
    width: 20px;
    height: 19px;
}
.contact-block__address svg {
    width: 18px;
    height: 18px;
}
.contact-block__work-time {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
.left-wrapper-text--white {
    color: #FCFCFC;
}
.left-wrapper-text__location-item {
    position: relative;
    padding: 0;
    margin: 0;
}
.left-wrapper-text__location-item--mgbot {
    margin-bottom: 50px;
}
@media screen and (max-width: 1600px) {
    .promo__item {
        width: calc(100% / 2 - 20px);
    }
}

@media screen and (max-width: 999px) {
    .left-navigation li:not(:last-child) {
        margin-right: 10px;
    }
    .main-navigation a {
        font-size: 14px;
    }
    .main-navigation .phone-block {
        width: 150px;
    }
    .phone-block .phone-block__subtitle {
        font-size: 16px;
    }
    .promo__item {
        width: 345px;
    }
}
@media screen and (max-width: 768px){
    .img-list__link img {
        width: 100%;
    }
    .left-wrapper--bgfullsize {
        background-size: 100% auto !important;
        background-position: right center !important;
    }
    .right-wrapper__header {
        margin-top: 50px;
    }
    .news__left-wrapper {
        width: 80%;
    }
    .news__title {
        font-size: 20px;
    }
    .news__text {
        font-size: 14px;
    }
    .promo__item {
        width: calc(100% / 2 - 20px);
    }
    .promo {
        margin-top: 50px;
    }
    .left-wrapper-slider .slider-wrapper__item {
        height: 36vh;
        background-position: center;
    }
    .slick-prev,
    .slick-next {
        background-color: #FCFCFC;
        font-size: 18px;
        color: rgba(0, 0, 0, 0.75);
        font-weight: bold;
        text-transform: lowercase;
        top: 270px;
        z-index: 999;
    }
    .slick-prev {
        left: 40px;
    }
    .slick-next {
        right: 80px;
    }

    .slick-next::before,
    .slick-prev::before {
        position: absolute;
        display: block;
        content: "";
        width: 25px;
        height: 10px;
    }
    .slick-next::before {
        background-image: url('../img/arrow-next.svg');
        left: 70px;
        top: 3px;
    }
    .slick-prev::before {
        background-image: url('../img/arrow-prev.svg');
        left: -40px;
        top: 3px;
    }
    .right-wrapper .progress {
        left: 28px;
        top: auto;
        bottom: 100px;
        height: 3px;
    }
    .inner-wrapper {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        min-height: 100vh;
    }
    .inner-wrapper .main-header {
        background: #FCFCFC;
        position: static;
    }
    .modal-menu {
        width: 100%;
        padding: 0;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .left-wrapper {
        position: absolute;
        background-color: transparent;
        width: 100%;
    }
    .inner-wrapper .left-wrapper {
        position: static;
        background-size: 100% 100%;
        height: 36vh;
    }
    .features .left-wrapper {
        position: relative;
    }
    .description .left-wrapper {
        background: url(../img/bg-description-tablet.png) no-repeat center center;
        background-size: 100% 100%;
    }
    .news-detail .left-wrapper {
        background-size: 100%;
        background-position: center center;
    }
    .sale .left-wrapper {
        background-size: 100%;
        background-position: center center;
    }
    .main-title {
        width: 45%;
        margin-top: 0;
    }
    .inner-wrapper .main-title {
        margin: 0;
    }
    .left-wrapper-text {
        margin-top: 150px;
    }
    .inner-wrapper .left-wrapper-text {
        margin-top: auto;
        margin-bottom: auto;
    }
    .features .left-wrapper-text {
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }
    .right-wrapper {
        background: -webkit-gradient(linear, left bottom, left top, from(#000000), color-stop(50%, rgba(0, 0, 0, 0))), url(../img/bg-main-tablet.png) ;
        background: -o-linear-gradient(bottom, #000000 0%, rgba(0, 0, 0, 0) 50%), url(../img/bg-main-tablet.png) ;
        background: linear-gradient(0deg, #000000 0%, rgba(0, 0, 0, 0) 50%), url(../img/bg-main-tablet.png) ;
        width: 100%;
        height: 100vh;
    }
    .inner-wrapper .right-wrapper {
        position: static;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        width: 100%;
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
        height: auto;
        padding-top: 0;
    }
    .inner-wrapper .bottom-text-block {
        margin-top: 50px;
    }
    .left-navigation {
        display: none;
    }
    .logo-wrapper {
        width: 171px;
        position: absolute;
        top: 0;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
        z-index: 10;
    }
    .inner-wrapper .logo-wrapper .svg-img{
        stroke: #157AB5;
    }
    .inner-wrapper .logo-wrapper .svg-text{
        fill-opacity: .75;
        fill: black;
    }
    .main-navigation-wrapper {
        width: 100%;
        margin-bottom: 30px;
    }
    .main-navigation-right-block {
        width: 100%;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }
    .phone-block {
        margin-left: 20px;
    }
    .left-wrapper-text .left-wrapper-text__p {
        color: #FCFCFC;
        font-size: 16px;
        line-height: 150%;
        width: 55%;
    }
    .bottom-text-block h2 {
        font-size: 20px;
    }
    .features .bottom-text-block h2 {
        width: 90%;
    }
    .bottom-text-block p {
        width: 65%;
        font-size: 16px;
    }
    .features .bottom-text-block p {
        width: 90%;
    }
    .footer-wrapper {
        position: absolute;
        bottom: 20px;
        right: 20px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .inner-wrapper .footer-wrapper {
        margin-top: 50px;
        position: relative;
        bottom: 0;
        right: 0;
    }
    .inner-wrapper .footer-wrapper--mgtauto {
        margin-top: auto;
    }
    .footer-wrapper .button-area-selection {
        font-size: 14px;
        line-height: 26px;
        padding: 5px 30px 5px 60px;
    }
    .footer-wrapper .selection-text {
        margin-top: 10px;
        font-size: 16px;
        color: #FCFCFC;
    }
    .left-wrapper--contacts {
        position: relative !important;
    }
    .left-wrapper-text--absolute {
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        margin: 0 !important;
        height: auto;
    }
    .left-wrapper-text--absolute .main-title {
        margin: 0;
    }
    .bottom-text-block--mgbot27 {
        margin-bottom: 40px;
    }
    .ya-map-wrapper {
        /*margin-bottom: 60px;*/
    }
    .bottom-contacts-block {
        display: block;
    }
    .bottom-contacts-block--border-top {
        border-top: 0.5px solid rgba(0, 0, 0, .3);
    }
    .bottom-contacts-block__title {
        font-family: "Lato", "Arial", sans-serif;
        font-weight: bold;
        font-size: 24px;
        line-height: 150%;
        color: #157AB5;
        margin-top: 10px;
    }
    .bottom-contacts-block__item {
        position: relative;
        margin: 25px 0;
    }
    .bottom-contacts-block__item {
        padding-left: 35px;
    }
    .bottom-contacts-block__item svg {
        position: absolute;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        top: 50%;
        left: 0;
    }
    .left-wrapper-text__location-item {
        display: none;
    }
    .right-wrapper__body {
        margin-bottom: 50px;
    }
    .slider-wrapper .slick-list,
    .slider-wrapper .slick-track {
        overflow: hidden;
    }
}
@media screen and (max-width: 599px) {
    .bottom-text-block p {
        width: 50%;
    }
}
@media screen and (max-width: 500px) {
    .tabs-wrapper {
        flex-direction: column;
    }
    .tabs-wrapper__tab:not(:first-child) {
        margin-left: 0;
    }
    .tabs-wrapper__tab {
        margin-bottom: 25px;
    }
    .tabs-wrapper .calendar {
        align-self: flex-start;
        margin-bottom: 40px;
    }
    .main-title--subtitle {
        display: block;
    }
    .news__left-wrapper {
        width: 100%;
    }
    .news__title {
        font-size: 16px;
    }
    .news__text {
        font-size: 12px;
    }
    .slick-prev,
    .slick-next {
        background-color: #FFFFFF;
        font-size: 0;
        width: 32px;
        border-radius: 50%;
        height: 32px;
        -webkit-box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
        box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
        top: 360px;
    }
    .slick-prev {
        left: 0;
    }
    .slick-next {
        right: 0;
    }
    .slick-next::before,
    .slick-prev::before {
        position: absolute;
        display: block;
        content: "";
        width: 15px;
        height: 12px;
    }
    .slick-next::before {
        background-image: url('../img/arrow-next-sm.svg');
        left: 9px;
        top: 10px;
    }
    .slick-prev::before {
        background-image: url('../img/arrow-prev-sm.svg');
        left: 9px;
        top: 10px;
    }
    .right-wrapper .progress {
        display: none;
        left: 28px;
        top: auto;
        bottom: 120px;
        height: 3px;
    }
    .index-wrapper {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .main-navigation .phone-block {
        display: none;
    }
    .main-navigation .hamburger-header {
        margin-left: auto;
    }
    .main-navigation .logo-wrapper {
        left: 0;
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
    }
    .modal-menu {
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: start;
        padding: 30px 20px 10px 20px;
    }
    .modal-menu .logo-wrapper {
        z-index: 0;
    }
    .modal-menu .top-block {
        margin-top: 0;
    }
    .top-block .phone-block {
        margin: 0;
    }
    .top-block .hamburger-header {
        margin: 0;
    }
    .phone-block .phone-block__subtitle {
        font-size: 18px;
    }
    .phone-block .phone-block__time {
        font-size: 12px;
    }
    .right-wrapper {
        background: #FCFCFC;
        height: 30vh;
        width: 100%;
        padding: 20px;
    }
    .right-wrapper .bottom-text-block {
        padding: 0;
        margin: 0;
    }
    .bottom-text-block h2 {
        color: rgba(0, 0, 0, 0.75);
        margin: 0 0 10px 0;
        width: 100%;
    }
    .bottom-text-block p {
        width: 100%;
        color: rgba(0, 0, 0, 0.75);
        font-size: 14px;
    }
    .left-wrapper {
        background: -webkit-gradient(linear, left bottom, left top, from(#000000), color-stop(50%, rgba(0, 0, 0, 0))), url(../img/bg-main-phone.png);
        background: -o-linear-gradient(bottom, #000000 0%, rgba(0, 0, 0, 0) 50%), url(../img/bg-main-phone.png);
        background: linear-gradient(0deg, #000000 0%, rgba(0, 0, 0, 0) 50%), url(../img/bg-main-phone.png);
        background-size: cover;
        height: 61vh;
        position: relative;
        padding-left: 20px;
        padding-right: 20px;
    }
    .left-wrapper--index {
        height: 100vh;
    }
    .inner-wrapper .left-wrapper {
        position: static;
        width: 100%;
        height: 24vh;
        padding: 0 0 0 20px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        background-size: cover;
    }
    .features .left-wrapper {
        padding: 0;
        position: relative;
    }
    .description .left-wrapper {
        background-image:  url(../img/bg-description-phone.png);
    }
    .inner-wrapper .bottom-text-block p {
        margin-bottom: 50px;
    }
    .left-wrapper .left-wrapper-text {
        margin-top: 100px;
    }
    .inner-wrapper .left-wrapper .left-wrapper-text {
        margin-top: auto;
        margin-bottom: auto;
    }
    .left-wrapper .main-title {
        width: 100%;
        margin: 0 0 20px 0;
        font-size: 30px;
    }
    .left-wrapper .main-title--mg0 {
        margin: 0;
    }
    .main-title b {
        font-size: 36px;
        color: #FCFCFC;
    }
    .main-title + .left-wrapper-text__p {
        width: 100%;
        margin: 0;
        font-size: 14px;
    }
    .left-wrapper .footer-wrapper {
        position: relative;
        margin-left: 0;
    }
    .footer-wrapper {
        bottom: 0;
        right: 0;
    }
    .footer-wrapper .button-area-selection {
        margin-right: 0;
        width: 280px;
    }
    .footer-wrapper .button-area-selection::before {
        left: 60px;
    }
    .inner-wrapper .footer-wrapper .button-area-selection::before {
        left: 0;
    }
    .footer-wrapper .selection-text {
        margin: 10px auto 0 0;
    }
    .inner-wrapper .footer-wrapper {
        width: 100%;
        bottom: 0;
        right: 0;
        position: static;
    }
    .inner-wrapper .footer-wrapper .button-area-selection::before {
        left: 65px;
    }
    .inner-wrapper .bottom-text-block h2 {
        width: 100%;
        font-size: 30px;
        margin-top: 40px;
    }
    .features .bottom-text-block p {
        width: 100%;
    }
    .right-wrapper__header {
        margin-top: 50px;
    }
    .right-wrapper__header--reverse {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
    }
    .news__right-wrapper {
        -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    }
    .right-wrapper__title {
        width: 40%;
        font-size: 30px;
    }
    .promo {
        margin-left: 0;
    }
    .promo__item {
        margin-left: 0;
        width: 100%;
    }
    .promo__img {
        height: 170px;
    }
    .calendar {
        width: 138px;
        -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
        font-family: "Lato", "Arial", sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 150%;

    }
    .inner-wrapper .left-wrapper--contacts {
        padding: 0;
    }
    .left-wrapper--contacts {
        position: relative !important;
    }
    .left-wrapper-text--absolute {
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        margin: 0 !important;
        height: auto;
    }
    .left-wrapper-text--absolute .main-title {
        margin: 0;
    }
    .right-wrapper__title--full {
        width: 100%;
        font-size: 30px;
    }
    .contact-block__item {
        font-size: 14px;
        width: 90%;
    }
    .right-wrapper .right-wrapper__address {
        font-size: 14px;
        font-weight: normal;
        width: auto;
        margin-left: 30px;
    }
    .right-wrapper .right-wrapper__address svg {
        left: -30px;
        top: 10px;
    }
    .ya-map {
        height: 213px !important;
    }
    .bottom-contacts-block__item {
        font-size: 14px;
    }
    .border-bottom-visible--last {
        border-bottom: none;
    }
    .right-wrapper__body {
        margin-bottom: 0;
    }
}