@font-face {
    font-family: 'lato-bold';
    src: url(../fonts/Lato-Bold.woff);
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'lato-regular';
    src: url(../fonts/Lato-Regular.woff);
    font-weight: normal;
    font-style: normal;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;

    font-family: 'lato-regular', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;

    color: #000;
}

a {
    text-decoration: none;
}
/* yandex map styles */


.map-popup-wrapper {
    background-color: #FCFCFC;
    display: flex;
    flex-direction: column;
    position: relative;
    color: #000000;
    font-family: Bad script, Arial, sans-serif;
    font-size: 20px;
    text-align: center;
    width: 184px;
    padding: 14px 12px 15px 12px;
    height: 230px;
    box-shadow: 3px 1px 4px rgba(0, 0, 0, 0.25);
}
.map-popup-wrapper p {
    padding: 0;
    margin: 10px 0 0 0;
}
.map-popup-wrapper img {
    display: block;
    width: 160px;
}

.map-popup-close {
    position: absolute;
    top: 15px;
    background: url('../img/close-map-icon.svg') no-repeat;
    display: block;
    width: 15px;
    height: 15px;
    left: 20px;
    font-size: 0;
    text-decoration: none;
}

.right-wrapper {
    overflow: hidden;
    height: 100vh;
}
.modal-menu {
    background-color: #FCFCFC;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 9;
    display: none;
    flex-direction: column;
    overflow: hidden;
    width: 468px;
    padding-left: 120px;
    height: 100vh;
    align-items: flex-start;
}

.flex {
    display: flex;
}

.modal-menu .top-block {
    margin-top: 28px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.modal-menu .phone-block__subtitle {
    padding: 0;
    margin: 0;
}
.modal-menu .phone-block__time {
    padding: 0;
    margin: 0 0 85px 0;
}

.hamburger-header {
    margin-right: 20px;
    z-index: 1;
}

.right-navigation {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.right-navigation a {
    font-size: 24px;
    color: rgba(0, 0, 0, 0.75);
}

.right-navigation li:not(:last-child) {
    margin-bottom: 20px;
}

.modal .footer-block {
    margin-top: auto;
    margin-bottom: 15px;
}

.modal .footer-block p {
    margin: 0;
    padding: 0;
}
/* HEADER */
.main-header {
    position: absolute;
    width: 100%;
}
.index-wrapper,
.inner-wrapper {
    display: flex;
}

.main-navigation {
    color: #000;
    display: flex;
}

.main-navigation-wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    width: 60%;
}

.main-navigation-wrapper p {
    margin: 0;
    padding: 0;
}

.phone-block-wrapper {
    display: flex;
}

.phone-block {
    width: 200px;
}

.phone-block .phone-block__subtitle {
    font-family: lato-bold, Arial, sans-serif;
    font-size: 20px;
    line-height: 150%;
}

.phone-block .phone-block__time {
    position: relative;
    padding-left: 20px;
    font-size: 14px;
    line-height: 150%;
}

.phone-block .phone-block__time::before {
    position: absolute;
    content: '';
    background-color: #00AA4D;
    border: 1px solid #00AA4D;
    height: 6px;
    border-radius: 50%;
    width: 6px;
    top: 5px;
    left: 2px;
}

.main-navigation-right-block {
    display: flex;
}

.burger-icon {
    width: 28px;
}

.main-navigation a {
    color: #000;
}

.logo-wrapper {
    width: 40%;
}
.inner-wrapper .logo-wrapper .svg-img{
    stroke: #FCFCFC;
}
.inner-wrapper .logo-wrapper .svg-text{
    fill-opacity: 1;
    fill: #FCFCFC;
}
.main-header-logo {
    margin-left: 20px;
    margin-top: 20px;
    display: block;

    width: 151px;
    height: 64px;
}

.left-navigation {
    width: 520px;
    margin: 0 0 0 28px;
    padding: 0;
    display: flex;
    font-family: 'lato-bold', Arial, sans-serif;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
}

.left-navigation li:not(:last-child) {
    margin-right: 40px;
}

.left-navigation,
.right-navigation {
    list-style: none;
}

/* BODY */

.container {
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}
.left-wrapper {
    padding: 20px;
    width: 40%;
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.features .left-wrapper {
    padding: 0;
}
.inner-wrapper .left-wrapper {
    background: #424B14 no-repeat top center;
    -webkit-background-size: cover;
    background-size: cover;
}
.description .left-wrapper {
    background-image: url(../img/bg-description-main.png);
    background-color: #4E541A;
}
.features .left-wrapper {
    background-image: url(../img/bg-features1-main.png);
    background-color: #1E3964;
}
.location .left-wrapper {
    background-image: url(../img/bg-location-main.png);
    background-color: #7E7772;
}
.location .right-wrapper {
    overflow: auto;
}
.genplan .left-wrapper {
    background-image: url(../img/bg-genplan-main.png);
}
.right-wrapper {
    display: flex;
    padding: 80px 20px 0 20px;
    width: 60%;
    background: #E1ECF1;
    background: linear-gradient(0deg, #000000 0%, rgba(0, 0, 0, 0) 50%), url(../img/bg-main.png) ;

    background-position: top center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}
.right-wrapper .right-wrapper__address {
    position: relative;
    width: 55%;
    margin: 50px 0 30px 40px;
}
.right-wrapper .right-wrapper__address svg {
    position: absolute;
    top: 6px;
    left: -40px;
}
.inner-wrapper .right-wrapper {
    flex-direction: column;
    background: #FCFCFC;
}
.button {
    font-family: 'lato-regular', Arial, sans-serif;
    color: #FCFCFC;
    font-weight: 500;
    font-size: 16px;

    text-align: center;
    vertical-align: middle;

    background: #157AB5;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 50px;
    border: none;
}
.left-wrapper-text {
    margin-top: 300px;
}
.inner-wrapper .left-wrapper-text {
    margin-top: 320px;
}
.left-wrapper-text p {
    position: relative;
    margin: 0 0 30px 0;
    color: #FCFCFC;
}
.left-wrapper-text span {
    margin-left: 40px;
}
.left-wrapper-text svg {
    bottom: 5px;
    position: absolute;
}
.main-title {
    padding: 0;
    margin: 0 0 30px 0;
    width: 60%;
    font-family: Cormorant, Times New Roman, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 150%;
}
.inner-wrapper .main-title {
    margin-bottom: 120px;
}
.features .left-wrapper {
    background: none;
}
.left-wrapper-slider {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #1E3964;
}
.left-wrapper-slider .slider-wrapper__item {
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}
.right-wrapper .slider__item {
    height: 30vh;
}

.left-wrapper-slider .slick-slide {
    width: 100%;
}
.slick-vertical .slick-slide {
    border: none;
}
.left-wrapper-slider .slick-slide {
    width: 100%;
}
.inner-wrapper .main-title {
    color: #FCFCFC;
    font-size: 48px;
    line-height: 150%;
}
.features .left-wrapper-text {
    position: absolute;
    z-index: 999;
    margin-top: 300px;
    margin-left: 20px;
}
.main-title b {
    font-family: Cormorant, Times New Roman, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 150%;
}
.main-title + .text-block {
    width: 85%;
    margin: 0;
    padding: 0;
}
.footer-wrapper {
    margin-top: auto;
    display: flex;
    align-items: center;
}
.location .footer-wrapper {
    margin-top: 100px;
}
.footer-wrapper .button-area-selection {
    display: block;
    padding: 5px 20px 5px 50px;
    text-align: center;
    color: #ffffff;
    vertical-align: middle;
    position: relative;
}
.inner-wrapper .footer-wrapper .button-area-selection {
    margin-left: auto;
}
.footer-wrapper .button-white {
    color: rgba(0, 0, 0, 0.75);
    background: #FFFFFF;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 50px;
    font-size: 14px;
    line-height: 17px;
    padding: 10px 25px 10px 45px;
}
.footer-wrapper .button-area-selection::before {
    position: absolute;
    content: '';
    width: 22px;
    height: 22px;
    background-image: url(../img/area-selector-white.svg);
    background-position: top center;
    background-repeat: no-repeat;
    left: 20px;
    top: 7px;
}
.footer-wrapper .button-white::before {
    background-image: url(../img/area-selector-green.svg);
    top: 8px;
    left: 15px;
}
.footer-wrapper .selection-text {
    padding: 0;
    margin: 0 0 0 20px;
}
.bottom-text-block {
    margin-top: auto;
    display: flex;
    width: 100%;
    flex-direction: column;
}
.inner-wrapper .bottom-text-block {
    margin-top: 230px;
}
.features .bottom-text-block {
    margin-top: 250px;
}
.bottom-text-block h2 {
    font-family: lato-bold, Arial, sans-serif;
    font-weight: bold;
    font-size: 24px;
    line-height: 150%;
    padding: 0;
    color: #FCFCFC;
    margin: 0 0 15px 0;
    width: 50%;
}
.inner-wrapper .bottom-text-block h2 {
    font-size: 36px;
    line-height: 150%;
    width: 70%;
    font-family: Cormorant, Arial, sans-serif;
    color: rgba(0, 0, 0, 0.75);
}
.bottom-text-block p {
    color: #FCFCFC;
    font-size: 18px;
    line-height: 150%;
    margin: 0;
    padding: 0;
    width: 70%;
}
.inner-wrapper .bottom-text-block p {
    color: rgba(0, 0, 0, 0.75);
    margin-bottom: 20px;
    width: 95%;
}
.features .bottom-text-block p {
    width: 70%;
}
.inner-wrapper .slider-wrapper {
    height: 90%;
    margin: 0;
}
.slider-wrapper .slick-current {
    opacity: 1;
}
.slider-wrapper .slick-slide:not(.slick-current) {
    opacity: 0;
}
.slider-wrapper .slick-slide {
    transition: opacity .2s ease-in-out;
}

.slider-wrapper .slick-list,
.slider-wrapper .slick-track {
    overflow: visible;
}
.slick-dotted .slick-slider {
    margin-bottom: 0;
}
.slider-wrapper .slick-dots {
    bottom: 50%;
    right: 0;
    width: 30px;
    display: flex;
    flex-direction: column;
}
.progress {
    position: absolute;
    display: block;
    width: 3px;
    height: 280px;
    border-right: 1px solid #A1CFF0;
    overflow: hidden;
    top: 50%;
    margin-top: -140px;
    right: 10px;
    background-color: #f5f5f5;
    background-image: linear-gradient(to top, #517F57, #517F57);
    background-repeat: no-repeat;
    background-size: 100% 0;
    transition: background-size .4s ease-in-out;
}
.left-wrapper--sale .left-wrapper-text {
    margin-top: 180px;
}
.left-wrapper--news .left-wrapper-text {
    margin-top: 180px;
}
.right-wrapper--of-auto {
    overflow: auto;
}
.footer-wrapper--mt-100 {
    margin-top: 100px;
}
.right-wrapper__promo {
    margin-top: 130px;
}
.left-wrapper--sale {
    background-image: url(../img/bg-sale-main.png) !important;
    background-color: #6E6E6D !important;
}
.left-wrapper--news {
    background-image: url(../img/bg-news-main.png)!important;
    background-color: #414B4E!important;
    background-position: 20% center !important;
}
.promo {
    display: flex;
    flex-direction: column;
}
.promo__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.promo__title {
    font-family: Cormorant, Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 150%;
    color: #4F4F4F;
    margin: 0;
}
.promo__body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: -20px;
}
.promo__item {
    display: flex;
    flex-direction: column;
    width: 390px;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    justify-content: center;
    margin: 0 0 20px 20px
}
.promo__subtitle {
    font-family: 'lato-bold', Arial, sans-serif;
    font-size: 18px;
    line-height: 125%;
    color: rgba(0, 0, 0, 0.75);
    text-align: center;
    margin: 25px auto;
    width: 270px;
}
.calendar {
    width: 168px;
    padding: 10px 50px 10px 21px;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
    font-family: 'lato-regular', Arial, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    margin: 0;
    position: relative;
    height: 41px;
}
.calendar--white {
    background-color: #FFFFFF;
    display: flex;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
}
.calendar__icon {
    position: absolute;
    right: 15px;
}
@media screen and (max-width: 978px) {
    .left-navigation li:not(:last-child) {
        margin-right: 10px;
    }
    .main-navigation a {
        font-size: 16px;
    }
    .main-navigation .phone-block {
        width: 150px;
    }
    .phone-block .phone-block__subtitle {
        font-size: 16px;
    }
}
@media screen and (max-width: 768px){
    .left-wrapper--sale {
        background-size: 100% auto !important;
        background-position: right center !important;
    }
    .promo__item {
        width: 345px;
    }
    .promo {
        margin-top: 50px;
    }
    .left-wrapper-slider .slider-wrapper__item {
        height: 36vh;
        background-position: center;
    }
    .slick-prev,
    .slick-next {
        background-color: #FCFCFC;
        font-size: 18px;
        color: rgba(0, 0, 0, 0.75);
        font-weight: bold;
        text-transform: lowercase;
        top: 270px;
        z-index: 999;
    }
    .slick-prev {
        left: 40px;
    }
    .slick-next {
        right: 80px;
    }

    .slick-next::before,
    .slick-prev::before {
        position: absolute;
        display: block;
        content: "";
        width: 25px;
        height: 10px;
    }
    .slick-next::before {
        background-image: url('../img/arrow-next.svg');
        left: 70px;
        top: 3px;
    }
    .slick-prev::before {
        background-image: url('../img/arrow-prev.svg');
        left: -40px;
        top: 3px;
    }
    .right-wrapper .progress {
        left: 28px;
        top: auto;
        bottom: 100px;
        height: 3px;
    }
    .inner-wrapper {
        flex-direction: column;
        min-height: 100vh;
    }
    .inner-wrapper .main-header {
        background: #FCFCFC;
        position: static;
    }
    .modal-menu {
        width: 100%;
        padding: 0;
        align-items: center;
    }
    .left-wrapper {
        position: absolute;
        background-color: transparent;
        width: 100%;
    }
    .inner-wrapper .left-wrapper {
        position: static;
        background-size: 100% 100%;
        height: 36vh;
    }
    .features .left-wrapper {
        position: relative;
    }
    .description .left-wrapper {
        background: url(../img/bg-description-tablet.png) no-repeat center center;
        background-size: 100% 100%;
    }
    .main-title {
        width: 45%;
        margin-top: 0;
    }
    .inner-wrapper .main-title {
        margin: 0;
    }
    .left-wrapper-text {
        margin-top: 150px;
    }
    .inner-wrapper .left-wrapper-text {
        margin-top: auto;
        margin-bottom: auto;
    }
    .features .left-wrapper-text {
        top: 50%;
        transform: translateY(-50%);
    }
    .right-wrapper {
        background: linear-gradient(0deg, #000000 0%, rgba(0, 0, 0, 0) 50%), url(../img/bg-main-tablet.png) ;
        width: 100%;
        height: 100vh;
    }
    .inner-wrapper .right-wrapper {
        position: static;
        flex-direction: column;
        width: 100%;
        flex: 1;
        height: auto;
        padding-top: 0;
    }
    .inner-wrapper .bottom-text-block {
        margin-top: 50px;
    }
    .left-navigation {
        display: none;
    }
    .logo-wrapper {
        width: 171px;
        position: absolute;
        top: 0;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);
        z-index: 10;
    }
    .inner-wrapper .logo-wrapper .svg-img{
        stroke: #157AB5;
    }
    .inner-wrapper .logo-wrapper .svg-text{
        fill-opacity: .75;
        fill: black;
    }
    .main-navigation-wrapper {
        width: 100%;
        margin-bottom: 30px;
    }
    .main-navigation-right-block {
        width: 100%;
        justify-content: space-between;
    }
    .phone-block {
        margin-left: 20px;
    }
    .left-wrapper-text .text-block {
        color: #FCFCFC;
        font-size: 16px;
        line-height: 150%;
    }
    .bottom-text-block h2 {
        font-size: 20px;
    }
    .features .bottom-text-block h2 {
        width: 90%;
    }
    .bottom-text-block p {
        width: 65%;
        font-size: 16px;
    }
    .features .bottom-text-block p {
        width: 90%;
    }
    .footer-wrapper {
        position: absolute;
        bottom: 20px;
        right: 20px;
        flex-direction: column;
    }
    .inner-wrapper .footer-wrapper {
        margin-top: 50px;
        position: relative;
    }
    .inner-wrapper .footer-wrapper {
        bottom: 30px;
        right: 25px;
    }
    .footer-wrapper .button-area-selection {
        font-size: 14px;
        line-height: 26px;
        padding: 5px 30px 5px 60px;
    }
    .footer-wrapper .selection-text {
        margin-top: 10px;
        font-size: 16px;
        color: #FCFCFC;
    }
}
@media screen and (max-width: 599px) {
    .bottom-text-block p {
        width: 50%;
    }
}
@media screen and (max-width: 500px) {
    .slick-prev,
    .slick-next {
        background-color: #FFFFFF;
        font-size: 0;
        width: 32px;
        border-radius: 50%;
        height: 32px;
        box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
        top: 360px;
    }
    .slick-prev {
        left: 0;
    }
    .slick-next {
        right: 0;
    }
    .slick-next::before,
    .slick-prev::before {
        position: absolute;
        display: block;
        content: "";
        width: 15px;
        height: 12px;
    }
    .slick-next::before {
        background-image: url('../img/arrow-next-sm.svg');
        left: 9px;
        top: 10px;
    }
    .slick-prev::before {
        background-image: url('../img/arrow-prev-sm.svg');
        left: 9px;
        top: 10px;
    }
    .right-wrapper .progress {
        left: 28px;
        top: auto;
        bottom: 120px;
        height: 3px;
    }
    .index-wrapper {
        flex-direction: column;
    }
    .main-navigation .phone-block {
        display: none;
    }
    .main-navigation .hamburger-header {
        margin-left: auto;
    }
    .main-navigation .logo-wrapper {
        left: 0;
        transform: translateX(0);
    }
    .modal-menu {
        align-items: start;
        padding: 30px 20px 10px 20px;
    }
    .modal-menu .logo-wrapper {
        z-index: 0;
    }
    .modal-menu .top-block {
        margin-top: 0;
    }
    .top-block .phone-block {
        margin: 0;
    }
    .top-block .hamburger-header {
        margin: 0;
    }
    .phone-block .phone-block__subtitle {
        font-size: 18px;
    }
    .phone-block .phone-block__time {
        font-size: 12px;
    }
    .right-wrapper {
        background: #FCFCFC;
        height: 30vh;
        width: 100%;
        padding: 20px;
    }
    .right-wrapper .bottom-text-block {
        padding: 0;
        margin: 0;
    }
    .bottom-text-block h2 {
        color: rgba(0, 0, 0, 0.75);
        margin: 0 0 10px 0;
        width: 100%;
    }
    .bottom-text-block p {
        width: 100%;
        color: rgba(0, 0, 0, 0.75);
        font-size: 14px;
    }
    .left-wrapper {
        background: linear-gradient(0deg, #000000 0%, rgba(0, 0, 0, 0) 50%), url(../img/bg-main-phone.png);
        background-size: cover;
        height: 70vh;
        position: relative;
        padding-left: 20px;
        padding-right: 20px;
    }
    .inner-wrapper .left-wrapper {
        position: static;
        width: 100%;
        height: 24vh;
        padding: 0 0 0 20px;
        display: flex;
        flex-direction: column;
        background-size: cover;
    }
    .features .left-wrapper {
        padding: 0;
        position: relative;
    }
    .description .left-wrapper {
        background-image:  url(../img/bg-description-phone.png);
    }
    .inner-wrapper .bottom-text-block p {
        margin-bottom: 50px;
    }
    .left-wrapper .left-wrapper-text {
        margin-top: 100px;
    }
    .inner-wrapper .left-wrapper .left-wrapper-text {
        margin-top: auto;
        margin-bottom: auto;
    }
    .left-wrapper .main-title {
        width: 100%;
        margin: 0 0 20px 0;
        font-size: 30px;
    }
    .main-title b {
        font-size: 36px;
        color: #FCFCFC;
    }
    .main-title + .text-block {
        width: 100%;
        margin: 0;
        font-size: 14px;
    }
    .left-wrapper .footer-wrapper {
        position: relative;
        margin-left: 0;
    }
    .footer-wrapper {
        bottom: 0;
        right: 0;
    }
    .footer-wrapper .button-area-selection {
        margin-right: 0;
        width: 100%;
    }
    .footer-wrapper .button-area-selection::before {
        left: 60px;
    }
    .inner-wrapper .footer-wrapper .button-area-selection::before {
        left: 0;
    }
    .footer-wrapper .selection-text {
        margin: 10px auto 0 0;
    }
    .inner-wrapper .footer-wrapper {
        width: 100%;
        bottom: 0;
        right: 0;
        position: static;
    }
    .inner-wrapper .footer-wrapper .button-area-selection::before {
        left: 65px;
    }
    .inner-wrapper .bottom-text-block h2 {
        width: 100%;
        font-size: 30px;
        margin-top: 40px;
    }
    .features .bottom-text-block p {
        width: 100%;
    }
    .promo__title {
        font-size: 30px;
    }
    .promo__body {
        margin-left: 0;
    }
    .promo__item {
        margin-left: 0;
        width: 100%;
    }
    .promo__img {
        height: 170px;
    }
    .calendar {
        padding: 9px 41px 9px 13px;
        font-family: 'lato-regular', Arial, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 150%;
        width: 140px;
    }
}